.page {
    padding: 40px 0;
    color: white;
}

.header {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.poster {
    width: 300px;
    border-radius: 10px;
}

.info {
    max-width: 700px;
}

.cast {
    margin-top: 40px;
}

.castList {
    display: flex;
    overflow-x: auto;
}

.actor {
    min-width: 100px;
    text-align: center;
}

.actor img {
    width: 100%;
    border-radius: 8px;
}