.countryFlag {
    width: 30px;
}

.card {
    max-height: 250px;
    aspect-ratio: 2/3;
    background-color: #141414;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s ease;
    scroll-snap-align: start;
}

.card:hover {
    transform: scale(1.03);
}

.cardImg {
    height: 100%;
    display: block;
    object-fit: cover;
}