.countryFlag {
    width: 40px;
    border-radius: 4px;
}

.card {
    max-height: 250px;
    aspect-ratio: 2/3;
    background-color: #141414;
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.4s ease;
    scroll-snap-align: start;
    border: none;
}

.card:hover {
    transform: scale(1.03);
}

.cardImg {
    height: 100%;
    display: block;
    object-fit: cover;
}

.cardTitle {
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.back {
    padding: 8px 4px;
    text-align: center;
}

.info {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px;
}