.countryFlag {
    width: 30px;
    border: 2px solid black;
    margin-left: 2px;
}

.card {
    max-height: 250px;
    aspect-ratio: 2/3;
    background-color: #141414;
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.4s ease;
    scroll-snap-align: start;
    border: none;
}

.card:hover:not(.open) {
    transform: scale(1.03);
}

.cardImg {
    height: 100%;
    display: block;
    object-fit: cover;
}

.cardTitle {
    margin-top: 5px;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info {
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.92);

    color: white;

    padding: 12px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: auto;

    z-index: 10;
}

.open {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    width: 400px;
    height: 600px;
    z-index: 100;
    max-height: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
}

.open .cardImg {
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.2s ease;
}

.open .badge {
    opacity: 0;
}