.containerMovies {
    min-height: 100vh;
}

.principalTitle {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: bold;
}

.titleSection {
    font-size: 1.4rem;
    color: #e5e5e5;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}