.rowP {
    display: flex;
    gap: 12px;

    overflow-x: auto;
    overflow-y: hidden;

    scroll-behavior: smooth;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #e50914 transparent;

    scroll-snap-type: x mandatory;

}


.rowP::-webkit-scrollbar {
    height: 6px;
}

.rowP::-webkit-scrollbar-track {
    background: transparent;
}

.rowP::-webkit-scrollbar-thumb {
    background-color: #e50914;
    border-radius: 10px;
}

.rowP::-webkit-scrollbar-thumb:hover {
    background-color: #ff1b1b;
}